html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background: #ffc600;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
h1 {
    margin-top: 0;
}
.site-wrap {
    max-width: 700px;
    margin: 100px auto;
    background: white;
    padding: 40px;
    text-align: justify;
}
